Appium-Python-Client==1.0.2
attrs==20.2.0
click==7.1.2
colorama==0.4.4
cx-Oracle==8.0.1
iniconfig==1.1.1
packaging==20.4
pluggy==0.13.1
poium==0.6.4
py==1.9.0
pyparsing==2.4.7
pytest==6.1.1
pytest-html==2.1.1
pytest-metadata==1.10.0
pytest-rerunfailures==9.1.1
selenium==3.141.0
six==1.15.0
toml==0.10.1
urllib3==1.25.11
